<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php"
        >
    <testsuites>
        <testsuite name="ZenMail Test Suite">
            <directory>./src/ZenMail/*/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/ZenMail/</directory>
            <exclude>
                <directory>./src/ZenMail/*/Tests</directory>
                <directory>./src/ZenMail/*/Resources</directory>
                <directory>./src/ZenMail/*/Vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <server name="KERNEL_DIR" value="./src/ZenMail/*/Tests/Functional/" />
    </php>
</phpunit>