<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php"
        >
    <testsuites>
        <testsuite name="ZenMail Test Suite">
            <directory>./src/ZenMail/*/*/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/ZenMail/</directory>
            <exclude>
                <directory>./src/ZenMail/*/*/Tests</directory>
                <directory>./src/ZenMail/*/*/Resources</directory>
                <directory>./src/ZenMail/*/*/vendor</directory>
                <directory>./src/ZenMail/*/*/DependencyInjection</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>